body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.container {
  margin: 50px;
}

.todos {
  text-align: left;
}

.todo {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex: 1;
  justify-content: center;
}

.title {
  font-size: 50px;
  margin-bottom: 100px;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}
